/* Estilos para la barra de navegacion superior */
nav {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-weight: bold;
	font-size: 1.2rem;
}

.nav-icons {
	display: flex;
}

*/ Estilos para las publicaciones del feed */
.instagram-post {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 20px;
}

.instagram-post img {
	border-radius: 5px;
	width: 100%;
}

.post-details {
	margin-top: 10px;
}

.post-details {
	margin: 5px 0;
}

/* Estilos para la barra de herramientas inferior */
.toolbar {
	background-color: #f0f0f0;
	border-top: 1px solid #ddd;
	padding: 10px 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.toolbar i {
	font-size: 1.5rem;
}

/* Estilos adicionales */
body {
	margin-bottom: 70px; /* Ajustar para evitar que la barra inferior cubra el contenido */
}